<div class="my-popover">
  <ion-popover-view class="popovers-indexPage" style="border-radius: 4px !important;padding: 0;margin: 0;">
    <ion-content style="padding: 0;margin: 0;">
      <ion-list>
        <ion-item ng-repeat="x in operating" ng-click="selectPopover(x)" ng-class="{'activeSelect' : x.selected}" ng-style="x.style">
          <img ng-src="build/assets/img/indexPage/icon_choose.png" ng-show="x.selected">
          {{x.text}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</div>
