<ion-view view-title="学校情况统计" class="myInfo indexPage school" cache-view='true'>
  <ion-header-bar align-title="center" class="head-bg" style="z-index: 1002;">
    <div class="title titleStyle">
      {{data.pageName}}
    </div>
    <img class="left-image" src="build/assets/img/myInfo/icon_select_list.png" ng-click="changePage()"/>
    <img class="right-image" src="build/assets/img/indexPage/icon_select_time.png" ng-click="openPopover($event)"/>
  </ion-header-bar>
  <ion-content class="content-style" delegate-handle="mainScroll" ng-show="!configList.showPageList">
    <!-- 1.添加下拉刷新的组件 -->
    <ion-refresher
      pulling-text="下拉刷新页面数据..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <!--global-container-->
    <div class="global-container">
      <!--new-data-statistics-->
      <div class="statistics-time">统计自{{newViewData.day_time.start_time}}至{{newViewData.day_time.end_time}}</div>
      <!--new-data-statistics-->
      <div class="new-data-statistics registered-users-num">
        <div class="new-data-statistics-bg"></div>
        <div class="data-box">
          <img src="build/assets/img/school/icon_zhengxiao.png"/>
          <div class="registered-users">
            <div class="total">整校用户<img src="build/assets/img/school/icon_explain.png" class="explain"
                                        ng-click="bindClickExplain()"/></div>
            <div class="yesterday-added">昨日新增：{{newViewData.school_yes_data.yes_data || 0}}</div>
          </div>
          <div class="numbers">{{newViewData.school_yes_data.school_count || 0}}</div>
          <div class="auto-height"></div>
        </div>
        <div class="explain-box-hide school" ng-show="config.explainFlag">以「学校」为单位的用户统计数</div>
      </div>
      <!--teacher-regional-district-->
      <div class="common-regional-district teacher-regional-district" ng-show="newViewData.distinct_list.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_teacher_regional_district.png"/>
          <div class="info">
            <div class="title">学校地域分布</div>
            <div class="point">统计整校用户所处地区的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.distinct_list">
              <td width="34%" class="first" ng-bind="item.province"></td>
              <td width="33%" class="middle">{{item.percent}}</td>
              <td width="33%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.distinct_list.length>3"
             ng-click="showPartOrAll('distinct_list')">
            {{config.status.distinct_list?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--teacher-regional-district-->

      <!--school-scale-statistics-->
      <div class="common-regional-district school-scale-statistics" ng-show="newViewData.school_ranges.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_school_scale_statistics.png"/>
          <div class="info">
            <div class="title">学校规模统计</div>
            <div class="point">统计学校实际人数（教职工 + 在读学生）的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.school_ranges">
              <td width="60%" class="first" ng-bind="item.range"></td>
              <td width="20%" class="middle">{{item.percent}}</td>
              <td width="20%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.school_ranges.length>3"
             ng-click="showPartOrAll('school_ranges')">
            {{config.status.school_ranges?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--school-scale-statistics-->


      <div class="common-regional-district school-scale-statistics" ng-show="newViewData.reached_school.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_school_scale_statistics.png"/>
          <div class="info">
            <div class="title">整校人数达标率统计</div>
            <div class="point">家长与学生数与实际在读学生数所占比的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.reached_school">
              <td width="60%" class="first" ng-bind="item.range" ng-class="{'fontBlack':item.color=='black','fontRed':item.color=='red','fontGreen':item.color=='red'}"></td>
              <td width="20%" class="middle" ng-class="{'fontBlack':item.color=='black','fontRed':item.color=='red','fontGreen':item.color=='red'}">{{item.percent}}</td>
              <td width="20%" class="last" ng-class="{'fontBlack':item.color=='black','fontRed':item.color=='red','fontGreen':item.color=='red'}">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.reached_school.length>3"
             ng-click="showPartOrAll('reached_school')">
            {{config.status.reached_school?'收起':'查看全部'}}
          </a>
        </div>
      </div>


      <!--framing-proportion-statistics-->
      <div class="common-regional-district framing-proportion-statistics" ng-show="newViewData.arc_percent.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_framing_proportion_statistics.png"/>
          <div class="info">
            <div class="title">架构教师人数占比统计</div>
            <div class="point">架构内教师人数与实际教职工人数所占比率的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.arc_percent">
              <td width="50%" class="first" >
                <span>{{item.range}}</span>
              </td>
              <td width="25%" class="middle">{{item.percent}}</td>
              <td width="25%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.arc_percent.length>3"
             ng-click="showPartOrAll('arc_percent')">
            {{config.status.arc_percent?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--framing-proportion-statistics-->

      <!--code-framing-proportion-statistics-->
      <div class="common-regional-district code-framing-proportion-statistics"
           ng-show="newViewData.join_school.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_framing_proportion_statistics.png"/>
          <div class="info">
            <div class="title">扫码与构架人数占比统计</div>
            <div class="point">扫码加入整校的教师人数与【学校】架构内教师人数所占比率的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.join_school">
              <td width="50%" class="first" ng-bind="item.range"></td>
              <td width="25%" class="middle">{{item.percent}}</td>
              <td width="25%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.join_school.length>3"
             ng-click="showPartOrAll('join_school')">
            {{config.status.join_school?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--code-framing-proportion-statistics-->

      <!--class-news-statistics-->
      <div class="common-regional-district class-news-statistics" ng-show="newViewData.message_use.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_class_news_statistics.png"/>
          <div class="info">
            <div class="title">消息使用统计</div>
            <div class="point">校方发布的整校通知发布数量的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.message_use">
              <td width="50%" class="first" ng-bind="item.range"></td>
              <td width="25%" class="middle">{{item.percent}}</td>
              <td width="25%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.message_use.length>3"
             ng-click="showPartOrAll('message_use')">
            {{config.status.message_use?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--class-news-statistics-->

      <!--school-type-statistics-->
      <div class="common-regional-district school-type-statistics" ng-show="newViewData.school_property.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_school_type_statistics.png"/>
          <div class="info">
            <div class="title">学校创办类型统计</div>
            <div class="point">统计学校创办类型占比的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.school_property">
              <td width="34%" class="first" ng-bind="item.key"></td>
              <td width="33%" class="middle">{{item.percent}}</td>
              <td width="33%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.school_property.length>3"
             ng-click="showPartOrAll('school_property')">
            {{config.status.school_property?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--school-type-statistics-->

      <!--academic-section-statistics-->
      <div class="common-regional-district academic-section-statistics" ng-show="newViewData.study_section.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_academic_section_statistics.png"/>
          <div class="info">
            <div class="title">学段统计</div>
            <div class="point">统计学校不同学段占比的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.study_section">
              <td width="50%" class="first" ng-bind="item.key">十二年一贯制</td>
              <td width="25%" class="middle">{{item.percent}}</td>
              <td width="25%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.study_section.length>3"
             ng-click="showPartOrAll('study_section')">
            {{config.status.study_section?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--academic-section-statistics-->

      <!--academic-section-statistics-->
      <div class="common-regional-district zx-transaction-statistics" ng-show="newViewData.trainer_lists.length>0">
        <div class="top">
          <img src="build/assets/img/school/icon_zx_transaction_statistics.png"/>
          <div class="info">
            <div class="title">整校成交统计</div>
            <div class="point">培训师所负责的学校数量分布</div>
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="bottom">
          <table>
            <tbody>
            <tr ng-repeat="item in newViewDataSp.trainer_lists">
              <td width="34%" class="first" ng-bind="item.user_name"></td>
              <td width="33%" class="middle">{{item.percent}}</td>
              <td width="33%" class="last">{{item.count}}</td>
            </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.trainer_lists.length>3"
             ng-click="showPartOrAll('trainer_lists')">
            {{config.status.trainer_lists?'收起':'查看全部'}}
          </a>
        </div>
      </div>
      <!--academic-section-statistics-->

    </div>
    <!--global-container-->
  </ion-content>
  <div class="bar bar-subheader" ng-show="configList.showPageList" style="z-index: 1002;">
    <div class="row rowStyle">
      <div class="col-33 colStyle" ng-repeat="item in data.selectList" ng-click="selectAny(item)">&nbsp;
        <span ng-bind="item.name" ng-if="!item.select"></span>
        <span ng-bind="item.name" ng-if="item.select" style="color:#0775F5"></span>
        <i ng-if="!item.select" class="ion-ios-arrow-down iconStyle ng-cloak"></i>
        <i ng-if="item.select" class="ion-ios-arrow-up iconStyle ng-cloak" style="color: #0775F5"></i>
      </div>
    </div>
    <div class="listSelectDetail" ng-if="item2.select" ng-repeat="item2 in data.selectList">
      <div class="listSelect" ng-repeat="i in item2.list" ng-click="selectConfirm(i,item2)" ng-if="item2.select">
        <div class="lineClass" ></div>
        <img ng-src="build/assets/img/indexPage/icon_choose.png" ng-show="">
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[0].select">{{i}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[1].select">{{i.user_name}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[2].select">{{i.section_name}}</span>
      </div>
    </div>
  </div>


  <!--设置弹窗modal-->
  <div class="modalClass" ng-class="{'md-show-class':configList.showSelectList}" ng-click="selectAny({})">
  </div>
  <ion-content ng-show="configList.showPageList" class="content-style" style="margin-top: 44px;">
    <div class="padding" delegate-handle="scrollList">
      <div class="listDesc">共{{data.schoolList.length}}个</div>
      <div class="list">
        <a class="item item-avatar itemStyle" ng-repeat="school in data.schoolList" ng-click="goSchoolDetail(school)">
          <img ng-src="{{school.school_img}}" class="imgStyle">
          <div class="row rowStyleDetail">
            <div class="col-50 schoolName" ng-bind="school.school_name"></div>
            <div class="col-50 schoolTime" ng-bind="school.create_time"></div>
          </div>
          <div class="row rowStyleDetail">
            <div class="col-33 personName">实际人数&nbsp;{{school.teacher_num}}</div>
            <div class="col-33 personName">架构人数&nbsp;{{school.arc_count}}</div>
            <div class="col-33 personName">扫码&nbsp;{{school.scan_count}}</div>
          </div>
          <div class="row rowStyleDetail">
            <div class="col-50 principal" ng-bind="school.teacher_name"></div>
            <div class="col-50 saleName" ng-bind="school.user_name"></div>
          </div>
        </a>

      </div>
      <ion-infinite-scroll ng-if="true" on-infinite="" distance="1%" on-infinite="loadMore()" ng-show="configList.nextPage"></ion-infinite-scroll>
      <div class="text-center spinnerClass" ng-show="configList.nextPage">正在加载..</div>
      <div class="text-center spinnerClassSp" ng-show="!configList.nextPage && data.schoolList.length>0">暂无更多数据</div>

    </div>

  </ion-content>
</ion-view>
