.popovers-myClass{
  height: 120px!important;
  width: 121px!important;
  .item{
    height: 40px;
    width: 100%;
    background: white;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    border-style:none ;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #3A3A3A;
    letter-spacing: -0.36px;
  }
  .platform-android .popover .item{
    border-color: #ddd;
    color: #4d4d4d;
  }
  .platform-android .popover{
    margin-top: 0px;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  }
  .list{
    //margin-top: -10px;
    padding: 0 8px;
    img{
      position: absolute;
      top: 15px;
      left: 10px;
    }
    img:last-child{
      position: absolute;
      top: 15px;
      left: 0;
    }
    .activeSelect{
      color: #3E7EF6;
    }
  }

  .popover{
    height: 120px!important;
    top: 187px;
    //left: 179px!important;
    margin-left: 0px;
    opacity: 1;
    border-radius: 4px !important;
    position: absolute;
    z-index: 10;
    display: block;
    width: 121px;
  }
  .platform-ios .popover .scroll-content{
    margin: 0!important;
    border-radius: 4px;
  }
  .platform-ios .popover{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    //left: 189px !important;
  }

}
