<ion-view view-title="班级情况统计" class="changePassword">
  <ion-header-bar align-title="center" class="head-bg haed">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="title titleStyle">
      修改密码
    </div>
  </ion-header-bar>
  <ion-content class="content-style passwordContent">
    <div class="blockLine"></div>
    <input type="text" placeholder="请输入当前密码" class="passwordNow" ng-model="data.nowPassword"
           ng-change="changePassword()" ng-class="{true: 'lineColor', false: ''}[config.isfocusF]"
           ng-focus="focusInput('1')" ng-blur="blurInput('1')"/>
    <div class="blockLine"></div>
    <input type="password" placeholder="请输入新密码" class="passwordNow" ng-model="data.newPassword"
           ng-change="changePassword()" ng-class="{true: 'lineColor', false: ''}[config.isfocusS]"
           ng-focus="focusInput('2')" ng-blur="blurInput('2')"/>
    <div class="blockLine"></div>
    <input type="password" placeholder="再次输入新密码" class="passwordNow" ng-model="data.newPasswordConfirm"
           ng-change="changePassword()" ng-class="{true: 'lineColor', false: ''}[config.isfocusT]"
           ng-focus="focusInput('3')" ng-blur="blurInput('3')"/>
    <button ng-class="{true: 'password-btn-sp', false: 'password-btn'}[config.isActive]" type="button"
            ng-click="confirmChange()">确认修改
    </button>
  </ion-content>
</ion-view>
