.changePassword{
  .password-btn {
    display: block;
    width: 250px;
    height: 48px;
    background-color: #3E7EF6;
    box-shadow: 0 10px 15px 0 rgba(57, 120, 255, 0.29);
    border-radius: 60px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
    margin: 0 auto;
    border: 0;
    margin-top: 50px;

  }
  .password-btn-sp {
    display: block;
    width: 250px;
    height: 48px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
    margin: 0 auto;
    border: 0;
    margin-top: 50px;
    background: #B2B3B3;
    box-shadow: 0 10px 15px 0 rgba(170,170,170,0.29);
    border-radius: 60px;
  }
  .passwordNow{
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #E3E3E3;
    border-radius: 2px;
    height: 44px;
    width: 335px;
    text-align: center;
    line-height: 44px;
    margin: 0 auto;
    -webkit-appearance: none
  }
  .passwordNew{

  }
  .passwordContent{

  }
  .blockLine{
    height: 20px;
    width: 100%;
  }
  .lineColor{
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #9FB7EE;
    border-radius: 2px;
    -webkit-appearance: none
  }
}
