<ion-view view-title="学校情况统计" class="schoolDetail indexPage myInfo school schoolDetail timeSelectData"
          style="background: #f5f5f5">

  <div class="row rowHead fadeIn rowHeadSp" id="the-head-id">
    <span class="col-25 spanWidth">
      <button class="button button-icon icon ion-ios-arrow-left rowHeadButton" ng-click="goBack()"></button>
    </span>
    <span class="col-50 rowHeadTitle">{{data.schoolInfo.school_name}}</span>
    <span class="col-25">
      <!--<img class="right-image" src="build/assets/img/indexPage/icon_select_time.png" ng-click="openPopover($event)"/>-->
    </span>
  </div>
  <div style="position: absolute;z-index: 90;height: 60px;width: 70px" ng-click="goBack()"></div>
  <div id="the-image-id" class="elastic-image ">
    <div class="backimg"></div>
    <div class="contentText">
      <button class="button button-icon icon ion-ios-arrow-left imgButton" ng-click="goBack()"></button>
      <div class="row schoolNameHead">{{data.schoolInfo.school_name}}</div>
      <div class="row schoolAdress">
        {{data.classList.school_info.address}}
      </div>
      <div class="row schoolNum">全校人数 <span class="numFontFamily">&nbsp;{{data.classList.school_info.teacher_num}}</span>&nbsp;&nbsp;&nbsp;架构 <span class="numFontFamily">&nbsp;{{data.classList.school_info.arc_teacher}}</span>&nbsp;&nbsp;&nbsp;扫码 <span class="numFontFamily">&nbsp;{{data.classList.school_info.scan_teacher}}</span></div>
    </div>
  </div>


  <ion-content elastic-image="the-image-id,the-head-id,contentAll" id="contentAll" delegate-handle="mainScroll">
    <div class="the-content">
      <div class="row rowStyleTop">
        <div class="col-50" ng-class="{'headStyle': config.headStyleActive}" ng-click="selectModules('class')">班级</div>
        <div class="col-50" ng-class="{'headStyle': !config.headStyleActive}" ng-click="selectModules('architecture')">
          架构人员
        </div>
      </div>
      <div class="padding content-style" ng-show="config.headStyleActive" style="min-height: 800px;padding-top: 0;">
        <div ng-repeat="itemDetail in data.classList.class_list" >
          <div class="listDesc">{{itemDetail.grade_name}}</div>
          <div class="list">
            <a class="item item-avatar itemStyle"  ng-repeat="item in itemDetail.class_list" ng-click="goSchoolClass(item)">
              <img ng-src="{{item.avatar}}" class="imgStyle" style="border-radius: 0">
              <div class="row rowStyleDetail">
                <div class="col-50 schoolName">{{item.class_name}}</div>
                <div class="col-50 schoolTime" ng-if="item.bind_time!=0">{{item.bind_time}}</div>
              </div>
              <div class="row rowStyleDetail">
                <div class="col-50 personName">创建者&nbsp;{{item.teacher_name}}</div>
                <div class="col-50 personName" ng-if="item.code!=''">班级号&nbsp;{{item.code}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div ng-show="!config.headStyleActive" style="min-height: 800px">
        <div class="global-container content-style">
          <div class="headClassNum">
            共 <span class="numFontFamily">{{data.arcList.arc_teacher}}</span> 位，<span class="numFontFamily">{{data.arcList.arc_teacher - data.arcList.scan_teacher}}</span> 位未扫码
          </div>
          <div class="listColor">
            <div ng-repeat="item in data.arcList.arc_list" ng-click="goSchoolList(item)">
              <div class="row itemClass" >
                <div class="col-80 imageClass">
                  {{item.s_a_name}}&nbsp;&nbsp;<span class="completionDegree">(<span class="numFontFamily">{{item.scan_teacher}}</span>/<span class="numFontFamily">{{item.arc_teacher}}</span>)</span>
                </div>
                <div class="col-20 numClass">

                  <span>
              <i class="ion-ios-arrow-right rightGo"></i>
            </span>
                </div>
              </div>
              <div class="line"></div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
