<ion-view view-title="操作日志" class="myInfo indexPage">
  <ion-header-bar class="head-bg">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="title titleStyle">
      操作日志
    </div>
  </ion-header-bar>
  <ion-content class="content-style" delegate-handle="mainScroll">
    <ion-list>
      <ion-item class="text-center item item-icon-right" ng-click="goMessageDetail()">
        操作日志
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
