<ion-view view-title="学校情况统计" class="indexPage myInfo school schoolClass">

  <div class="row rowHead fadeIn rowHeadSp" id="the-head-class-id">
    <span class="col-25 spanWidth">
      <button class="button button-icon icon ion-ios-arrow-left rowHeadButton" ng-click="goBack()"></button>
    </span>
    <span class="col-50 rowHeadTitle">班级信息</span>
    <span class="col-25">
      <!--<img class="right-image" src="build/assets/img/indexPage/icon_select_time.png" ng-click="openPopover($event)"/>-->
    </span>
  </div>
  <div style="position: absolute;z-index: 90;height: 60px;width: 70px" ng-click="goBack()"></div>
  <div id="the-image-class-id" class="elastic-image ">
    <button class="button button-icon icon ion-ios-arrow-left imgButton" ng-click="goBack()"></button>
    <div class="contentText">
      <div class="imgDiv"><img ng-src="{{data.classDetail.avatar}}"></div>
      <div class="schoolNameHead">{{data.classDetail.class_name}}</div>
      <div class="schoolAdress">
        <span ng-show="data.classDetail.in_school">&nbsp;整&nbsp;</span>&nbsp;&nbsp;<span>{{data.classDetail.school_name}}</span>
      </div>
    </div>
  </div>


  <ion-content elastic-image="the-image-class-id,the-head-class-id,contentAll-class" id="contentAll-class">
    <div class="the-content ">
      <div class="row rowStyleTop">
        <div class="col-50" ng-class="{'headStyle': config.headStyleActive}" ng-click="selectModules('class')">教师</div>
        <div class="col-50" ng-class="{'headStyle': !config.headStyleActive}" ng-click="selectModules('architecture')">
          成员
        </div>
      </div>
      <div class="padding content-style" style="min-height: 800px;padding-top: 0">
        <div class="listDesc" ng-if="config.headStyleActive">共{{data.classListData.count}}位</div>
        <div class="listDesc" ng-if="!config.headStyleActive">共{{data.userListData.count}}位</div>
        <div class="list" ng-if="config.headStyleActive">
          <a class="item item-avatar itemStyle" ng-repeat="i in data.classListData.member_list" ng-click="goSchoolDetail()">
            <img ng-src="{{i.avatar}}" class="imgStyle">
            <div class="row rowStyleDetail">
              <div class="col-50 schoolName">{{i.display_name}}</div>
              <div class="col-50 schoolTime">{{i.create_time}}</div>
            </div>
            <div class="row rowStyleDetail">
              <div class="col-50 personName">{{i.subject_name}}</div>
              <div class="col-50 fontColor text-right" >{{i.role}}
              </div>
            </div>
          </a>
        </div>

        <div class="list" ng-if="!config.headStyleActive" style="height: 100%;overflow: scroll">
          <a class="item item-avatar itemStyle" ng-repeat="i in data.userListData.member_list" ng-click="goSchoolDetail()">
            <img ng-src="{{i.avatar}}" class="imgStyle">
            <div class="row rowStyleDetail">
              <div class="col-50 schoolName">{{i.display_name}}</div>
              <div class="col-50 schoolTime">{{i.join_time}}</div>
            </div>
            <div class="row rowStyleDetail">
              <div class="col-50 personName">{{i.role}}<span ng-if="i.relation">-</span>{{i.relation}}</div>
              <div class="col-50" style="text-align: right"
                   ng-class="{'fontColor': i.font,'personName' : !i.font}">{{i.speak_stype}}
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
