<ion-view view-title="我的任务" class="myInfo indexPage userApplicationList">
  <ion-header-bar class="head-bg item-input-inset" style="z-index: 1009">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <label class="item-input-wrapper" ng-click="openModal()" style="background-color:white">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="请输入学校名称" disabled ng-model="data.school_name">
    </label>
    <button class="button button-icon ion-more" ng-click="openPopover($event)">
    </button>
  </ion-header-bar>
  <div class="bar bar-subheader " style="z-index: 1002" ng-show="config.showPageList" >
    <div class="row rowStyle" >
      <div class="col-25 fontSelectedSp" ng-repeat="item in data.selectList" ng-click="selectAny(item)" >
        <span ng-bind="item.name" ng-if="!item.select" class="headStylelist"></span>
        <span ng-bind="item.name" ng-if="item.select" style="color:#0775F5" class="headStylelist"></span>
        <i ng-if="!item.select" class="ion-ios-arrow-down iconStyle ng-cloak"></i>
        <i ng-if="item.select" class="ion-ios-arrow-up iconStyle ng-cloak" style="color: #0775F5"></i>
      </div>
    </div>
    <div class="listSelectDetail" ng-if="item2.select" ng-repeat="item2 in data.selectList">
      <div class="listSelect" ng-repeat="i in item2.list" ng-click="selectConfirm(i,item2)" ng-if="item2.select">
        <div class="lineClass"></div>
        <!--<img ng-src="build/assets/img/indexPage/icon_choose.png">-->
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[0].select">
          <spam ng-show="!data.selectList[0].selectSp">{{i.name}}</spam>
          <spam ng-show="data.selectList[0].selectSp">{{i}}</spam>
        </span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[1].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[2].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[3].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[4].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[5].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[6].select">{{i.label}}</span>
      </div>
    </div>
  </div>
  <!--设置弹窗modal-->
  <div class="modalClass" ng-class="{'md-show-class':config.showSelectList}" ng-click="selectAny({})">
  </div>
  <ion-content class="content-style contentPadding" style="margin-top: 44px;" delegate-handle="mainScrollList">
    <!-- 1.添加下拉刷新的组件 -->
    <ion-refresher
      pulling-text="下拉刷新页面数据..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="statistics-time" ng-if="data.selectList[3].nameSP[1]">统计自{{data.selectList[3].nameSP[0]}}至{{data.selectList[3].nameSP[1]}}</div>
    <ion-list>
      <ion-item ng-repeat="item in data.messageList">
        <img src="build/assets/img/setting/userPic.png" class="imgUser">
        <div class="row row-no-padding rowHeight">
          <div class="col-20 longStyle username">{{item.name}}</div>
          <div class="col-60 numFontFamily font-little-small" ng-class="{'timeOver':item.over_time == 1}">{{item.apply_time}}&nbsp;<span ng-if="item.over_time == 1">
            <img src="build/assets/img/setting/timeOver.png" class="imgTime">
          </span></div>
          <div class="col-20 text-right"  ng-click="telphone(item)">
            <img src="build/assets/img/setting/phone.png" class="imgPhone">
          </div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col applyType col-50">
            {{item.apply_type}}
          </div>
          <div class="col applyType col-50 text-right" style="padding-right: 15px">
            {{item.mobile_phone}}
          </div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col longStyle citySchool">
            <span ng-if='item.real_province_city'>{{item.real_province_city}}</span>
            <span ng-if='!item.real_province_city'>{{item.mobile_province_city}}</span>
            -
            {{item.school_name}}
          </div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col-60 citySchool longStyle">当前处理人：{{item.direct_manager1}}</div>
          <div class="col-40 citySchool">ID：{{item.t_a_id}}</div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col">
            <button ng-click='goOperation(1,item)' ng-disabled="item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0"
                    ng-class="{'buttonActive':!(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0),'buttonUnActive':(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0)}">分派</button>
            <button ng-click='goOperation(2,item)'
                    ng-class="{'buttonActive':!(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0 || item.area_manager_flag == 0),'buttonUnActive':(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0 || item.area_manager_flag == 0)}" class="marginButton">调换</button>
            <button ng-click='goOperation(3,item)' ng-disabled="item.status == 1 || item.status == 2  || item.status == 0 || item.auth == 0"
                    ng-class="{'buttonActive':!(item.status == 1 || item.status == 2  || item.status == 0 || item.auth == 0),'buttonUnActive':(item.status == 1 || item.status == 2  || item.status == 0 || item.auth == 0)}" class="marginButton" ng-if="item.status != 5">跟进</button>
            <button ng-click='goOperation(3,item)' class="marginButton buttonActive" ng-if="item.status == 5">跟进</button>
            <button ng-click='goOperation(5,item)' ng-disabled="item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0"
                    ng-class="{'buttonActive':!(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0),'buttonUnActive':(item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0)}" class="marginButton">返回</button>
          </div>
        </div>
        <div class="lineDiv"></div>
        <div class="row row-no-padding rowHeight">
          <div class="col-50 text-left statusName" ng-class="{redFont : item.color == 1}">
            {{item.status_name}}
          </div>
          <div class="col-50 text-right logGo" >
            <span ng-click='goOperation(4,item)'>操作日志 <img src="build/assets/img/setting/allow.png"></span>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="config.nextPage" on-infinite="loadMore()" immediate-check='false' distance="1%" class="spinner"></ion-infinite-scroll>
    <div class="text-center spinnerClass" ng-show="config.nextPage">正在加载..</div>
    <div class="text-center spinnerClassSp" ng-show="!config.nextPage">暂无更多数据</div>
  </ion-content>
</ion-view>
