<ion-view view-title="我的任务" class="myInfo indexPage userApplicationList">
  <ion-header-bar class="head-bg" style="z-index: 1009">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="title titleStyle">
      我的任务
    </div>
    <button class="button button-clear button-positive" style="font-size: 14px;" ng-click="reset()">
      重置条件
    </button>
  </ion-header-bar>
  <div class="bar bar-subheader " style="z-index: 1002" ng-show="config.showPageList" >
    <div class="row rowStyle">
      <div class="col-25 fontSelectedSp" ng-repeat="item in data.selectList" ng-click="selectAny(item)" >
        <span ng-bind="item.name" ng-if="!item.select" class="headStylelist"></span>
        <span ng-bind="item.name" ng-if="item.select" style="color:#0775F5" class="headStylelist"></span>
        <i ng-if="!item.select" class="ion-ios-arrow-down iconStyle ng-cloak"></i>
        <i ng-if="item.select" class="ion-ios-arrow-up iconStyle ng-cloak" style="color: #0775F5"></i>
      </div>
    </div>
    <div class="listSelectDetail" ng-if="item2.select" ng-repeat="item2 in data.selectList">
      <div class="listSelect" ng-repeat="i in item2.list" ng-click="selectConfirm(i,item2)" ng-if="item2.select">
        <div class="lineClass"></div>
        <!--<img ng-src="build/assets/img/indexPage/icon_choose.png">-->
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[0].select">
          <spam ng-show="!data.selectList[0].selectSp">{{i.name}}</spam>
          <spam ng-show="data.selectList[0].selectSp">{{i}}</spam>
        </span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[1].select">{{i.label}}</span>
        <span ng-class="{'fontStyle':true,'fontSp':false}" ng-show="data.selectList[2].select">{{i.label}}</span>
      </div>
    </div>
  </div>
  <!--设置弹窗modal-->
  <div class="modalClass" ng-class="{'md-show-class':config.showSelectList}" ng-click="selectAny({})">
  </div>
  <ion-content class="content-style" style="margin-top: 44px;" delegate-handle="mainScrollList">
    <!-- 1.添加下拉刷新的组件 -->
    <ion-refresher
      pulling-text="下拉刷新页面数据..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in data.messageList">
        <div class="row row-no-padding rowHeight">
          <div class="col-20 longStyle">{{item.name}}</div>
          <div class="col-60 numFontFamily font-little-small "><i class="ion-ios-stopwatch-outline redFont" ng-if="item.over_time == 1">&nbsp;超时&nbsp;</i>{{item.apply_time}}</div>
          <div class="col-20">
            <button class="button button-small button-outline button-positive" ng-click="telphone(item)">
              拨打电话
            </button>
          </div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col-25 font-medium-small longStyle" ng-if='item.real_province_city'>{{item.real_province_city}}</div>
          <div class="col-25 font-medium-small longStyle" ng-if='!item.real_province_city'>{{item.mobile_province_city}}</div>
          <div class="col-55 font-little-small longStyle">{{item.school_name}}</div>
          <div class="col-20 font-medium-small longStyle text-right">
              {{item.apply_type}}
          </div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col-60 font-medium-small longStyle">当前处理人：{{item.direct_manager1}}</div>
          <div class="col-20 font-medium-small">id：{{item.t_a_id}}</div>
          <div class="col-20 font-medium-small text-right" ng-class="{redFont : item.color == 1}">{{item.status_name}}</div>
        </div>
        <div class="row row-no-padding rowHeight">
          <div class="col-20 paddingCol">
            <button class="button button-small button-outline button-positive button-block" ng-click='goOperation(1,item)'
                    ng-disabled="item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0">
              分派
            </button>
          </div>
          <div class="col-20 paddingCol">
            <button class="button button-small button-outline button-positive button-block"  ng-click='goOperation(2,item)'
                    ng-disabled="item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0 || item.area_manager_flag == 0">
              调换
            </button>
          </div>
          <div class="col-20 paddingCol">
            <button class="button button-small button-outline button-positive button-block" ng-click='goOperation(3,item)'
                    ng-disabled="item.status == 1 || item.status == 2  || item.status == 0 || item.auth == 0" ng-if="item.status != 5">
              跟进
            </button>
            <button class="button button-small button-outline button-positive button-block" ng-click='goOperation(3,item)'
                    ng-if="item.status == 5">
              跟进
            </button>
          </div>
          <div class="col-20 paddingCol">
            <button class="button button-small button-outline button-positive button-block" ng-click='goOperation(5,item)'
                    ng-disabled="item.status == 1 || item.status == 2 || item.status == 5 || item.status == 0 || item.auth == 0">
              返回
            </button>
          </div>
          <div class="col-20 paddingCol">
            <button class="button button-small button-outline button-positive button-block" ng-click='goOperation(4,item)'>
              操作日志
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="config.nextPage" on-infinite="loadMore()" immediate-check='false' distance="1%" class="spinner"></ion-infinite-scroll>
    <div class="text-center spinnerClass" ng-show="config.nextPage">正在加载..</div>
    <div class="text-center spinnerClassSp" ng-show="!config.nextPage">暂无更多数据</div>
  </ion-content>
</ion-view>
