.messageDetail {

  .bigTitle {
    font-size: 17px;
    color: #000000;
    font-family: PingFangSC-Regular;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .smallContent {
    font-size: 15px;
    color: #000000;
    font-family: PingFangSC-Light;
    word-wrap: break-word !important;
    word-break: break-all !important;
    line-height: 28px;
  }
  .smallTime {
    font-size: 13px;
    color: #888888;
    vertical-align: bottom;
    font-family: DIN-Regular !important;
  }
  .contentAll {
    width: 100%;
    background: white;
  }
  .contentAllRed{
    width: 100%;
    //background: red;
    .bigTitle{
      color: red;
    }
  }
}
