<ion-view view-title="消息详情" class="indexPage myInfo messageDetail setting">
  <ion-header-bar class="head-bg">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="title titleStyle">
      消息详情
    </div>
  </ion-header-bar>
  <ion-content class="content-style contentPadding" delegate-handle="mainScroll">
    <div class="" ng-class="{'contentAll': true,'contentAllRed':data.messageDetail.urgency_flag == 1}">
      <div class="row">
        <div class="col col-60 text-left bigTitle">{{data.messageDetail.title}}</div>
        <div class="col col-40 text-right smallTime" ng-if="data.messageDetail.send_time">{{data.messageDetail.send_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
      </div>
      <div class="row smallContent">
        <div class="col">
          {{data.messageDetail.content}}
        </div>
      </div>
    </div>
    <button class="login-btn" type="button" ng-click="goApplication()">进入任务</button>
  </ion-content>
</ion-view>
