.indexPage {
  .right-image {
    right: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    border: 10px solid transparent;
    border-right: 0;
    box-sizing: content-box;
    z-index: 5;
  }
  .titleName {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #000000;
    letter-spacing: -0.36px;
    line-height: 28px;
    height: 28px;
  }
  .titleNum {
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #000000;
    letter-spacing: 0.5px;
    height: 14px;
    line-height: 14px;
  }

  .global-container {
    padding: 0 10px 70px;
  }
  .global-container .statistics-time {
    padding: 7px 0;
    font-size: 12px;
    color: #888888;
    text-align: center;
  }
  .global-container .new-data-statistics {
    width: 100%;
    height: 185px;
    background-image: linear-gradient(-200deg, #2073D7 12%, #58B9FE 100%);
    border-radius: 4px;
    position: relative;
  }
  .global-container .new-data-statistics-bg {
    width: 100%;
    height: 75px;
    background: url(../assets/img/indexPage/new_data_statistics_bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .global-container .new-data-statistics .data-box {
    width: 100%;
    padding: 12px 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
  }
  .global-container .new-data-statistics .data-box .title {
    font-size: 13px;
    color: #B6E7FF;
  }
  .global-container .new-data-statistics .data-box .data-list {
    padding-top: 15px;
  }
  .global-container .new-data-statistics .data-box .data-item {
    float: left;
    width: 50%;
    height: 50px;
  }
  .global-container .new-data-statistics .data-box .data-item img {
    float: left;
    width: 23px;
    height: 20px;
    margin-top: 21px;
  }
  .global-container .new-data-statistics .data-box .data-item .spe-info {
    float: left;
    margin-left: 15px;
  }
  .global-container .new-data-statistics .data-box .data-item .spe-info .number {
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: 2px;
    height: 37px;
    line-height: 37px;
    font-family: DIN-Regular;
  }
  .global-container .new-data-statistics .data-box .data-item .spe-info .data-type {
    font-size: 12px;
    color: #FFFFFF;
    height: 17px;
    line-height: 17px;
  }
  .global-container .new-data-statistics .data-box .register-item, .global-container .new-data-statistics .data-box .class-item {
    margin-bottom: 16px;
  }
  .global-container .common-rank {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-top: 18px;
    padding: 0 10px;
  }
  .global-container .common-rank .rank-title {
    padding: 10px 0 10px;
    height: 44px;
    line-height: 44px;
  }
  .global-container .common-rank .rank-title .left {
    float: left;
    padding-left: 40px;
    height: 25px;
    font-size: 17px;
    color: #000000;
    line-height: 25px;
  }
  .global-container .common-rank .rank-title .personal {
    background: url(../assets/img/indexPage/icon_personal_rank.png) 0 0 no-repeat;
    background-size: 25px 25px;
  }
  .global-container .common-rank .rank-title .lead {
    background: url(../assets/img/indexPage/icon_lead_rank.png) 0 0 no-repeat;
    background-size: 25px 25px;
  }
  .global-container .common-rank .rank-title .company {
    background: url(../assets/img/indexPage/icon_company_rank.png) 0 0 no-repeat;
    background-size: 25px 25px;
  }
  .global-container .common-rank .rank-title .people-num {
    float: right;
    height: 25px;
    color: #787878;
    line-height: 25px;
  }
  .global-container .common-rank .rank-title .people-num img {
    width: 7px;
    height: 10px;
    margin-left: 4px;
  }
  .global-container .common-rank .rank-item {
    border-bottom: 1px solid #EFEFEF;
    padding: 10px 0;
    position: relative;
  }
  .global-container .common-rank .rank-item:last-child {
    border-bottom: none;
  }
  .global-container .common-rank .rank-item .rank-num {
    float: left;
    width: 24px;
    height: 50px;
    margin-right: 8px;
  }
  .global-container .common-rank .rank-item:first-child .rank-num {
    background: url(../assets/img/indexPage/icon_first.png) 0 center no-repeat;
    background-size: 24px 33px;
  }
  .global-container .common-rank .rank-item:nth-child(2) .rank-num {
    background: url(../assets/img/indexPage/icon_second.png) 0 center no-repeat;
    background-size: 24px 33px;
  }
  .global-container .common-rank .rank-item:nth-child(3) .rank-num {
    background: url(../assets/img/indexPage/icon_third.png) 0 center no-repeat;
    background-size: 24px 33px;
  }
  .spanNum {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
  }

  .global-container .common-rank .head {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .global-container .common-rank .person-info {
    margin-left: 94px;
  }
  .global-container .common-rank .person-info .top {
    margin-bottom: 8px;
  }
  .global-container .common-rank .person-info .name {
    height: 22px;
    line-height: 22px;
    font-size: 17px;
    color: #4A4A4A;
  }
  .global-container .common-rank .person-info .num {
    height: 22px;
    font-size: 13px;
    color: #888888;
    vertical-align: bottom;
    margin-left: 10px;
  }
  .global-container .common-rank .person-info .count {
    height: 22px;
    font-size: 12px;
    color: #888888;
    vertical-align: bottom;
    margin-left: 10px;
  }
  .global-container .common-rank .person-info .bottom > span {
    color: #888888;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
  }
  .global-container .common-rank .arrow {
    width: 8px;
    height: 14px;
    background: url(../assets/img/indexPage/icon_spread.png) 0 0 no-repeat;
    background-size: 8px 14px;
    position: absolute;
    top: 24px;
    right: 0px;
  }
  .view-all-btn {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #888888;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .login-btn {
    display: block;
    width: 250px;
    height: 48px;
    background-color: #3E7EF6;
    box-shadow: 0 10px 15px 0 rgba(57, 120, 255, 0.29);
    border-radius: 60px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
    margin: 0 auto;
    border: 0;
  }
  .buttonSub {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  .auto-height{
    position: absolute;
    right: 0;
    top: 25px;
    img{
      width: 7px;
      height: 10px;
      margin-left: 4px;
    }
  }
}
