<ion-view view-title="首页" class="indexPage myInfo" cache-view='true'>
  <ion-header-bar class="head-bg">
    <!--<button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>-->
    <div class="title">
      <div class="titleName" ng-bind="newViewData.user_info.user_name"></div>
      <div class="titleNum numFontFamily" ng-bind="newViewData.user_info.invited_code"></div>
    </div>
    <img class="right-image" src="build/assets/img/indexPage/icon_select_time.png" ng-click="openPopover($event)"/>
  </ion-header-bar>
  <ion-content class="content-style" delegate-handle="mainScroll">
    <!-- 1.添加下拉刷新的组件 -->
    <ion-refresher
      pulling-text="下拉刷新页面数据..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="global-container">
      <div class="statistics-time">
        统计自{{newViewData.day_time.start_time}}至{{newViewData.day_time.end_time}}
      </div>
      <div class="new-data-statistics">
        <div class="new-data-statistics-bg"></div>
        <div class="data-box">
          <div class="title">{{data.typeDesc}}APP新增数据统计</div>
          <div class="data-list">
            <div class="data-item register-item" ng-click="goOtherTab('2')">
              <img src="build/assets/img/indexPage/icon_user.png"/>
              <div class="spe-info">
                <div class="number">{{newViewData.new_data.new_register_user || 0}}</div>
                <div class="data-type"><span ng-if='newViewData.user_info.position_level > 5'>团队</span>注册新增</div>
              </div>
              <div class="auto-height"></div>
            </div>
            <div class="data-item class-item" ng-click="goOtherTab('3')">
              <img src="build/assets/img/indexPage/icon_class.png"/>
              <div class="spe-info">
                <div class="number">{{newViewData.new_data.new_classes || 0}}</div>
                <div class="data-type">班级新增</div>
              </div>
              <div class="auto-height"></div>
            </div>
            <div class="data-item">
              <img src="build/assets/img/indexPage/icon_equipment.png"/>
              <div class="spe-info">
                <div class="number">{{newViewData.new_data.trigger || 0}}</div>
                <div class="data-type">账户启动</div>
              </div>
              <div class="auto-height"></div>
            </div>
            <div class="data-item" ng-click="goOtherTab('4')">
              <img src="build/assets/img/indexPage/icon_zhengxiao.png"/>
              <div class="spe-info">
                <div class="number">{{newViewData.new_data.new_school || 0}}</div>
                <div class="data-type">整校新增</div>
              </div>
              <div class="auto-height"></div>
            </div>
            <div class="auto-height"></div>
          </div>
        </div>
      </div>

      <!--personal-rank-->
      <div class="common-rank"
           ng-if="newViewData.personal_ranking_team && newViewData.personal_ranking_team.user_count != 0">
        <div class="rank-title">
          <div class="left personal">个人排行榜-团队</div>
          <div class="people-num" style="display:none;">{{newViewData.personal_ranking_team.user_count ||
            0}}&nbsp;位组员<img
              src="build/assets/img/indexPage/icon_spread.png"/></div>
          <div class="auto-height"></div>
        </div>
        <div class="rank-list">
          <div class="rank-item" ng-repeat="item in newViewDataSp.personal_ranking_team.user_list">
            <div class="rank-num">
              <span class="spanNum" ng-if="$index > 2">{{$index+1}}</span>
            </div>
            <img ng-src="{{item.avatar}}" class="head" ng-if="item.avatar"/>
            <img src="build/assets/img/indexPage/admin.jpg" ng-if="!item.avatar" class="head"/>
            <div class="person-info">
              <div class="top">
                <span class="name" ng-bind="item.user_name"></span>
                <span class="num numFontFamily" ng-bind="item.invited_code"></span>
              </div>
              <div class="bottom">
                <span class="register">注册用户 <span class="numFontFamily">{{item.new_register_user}}</span></span>
                <span class="classes">班级数 <span class="numFontFamily">{{item.new_classes}}</span></span>
                <span class="zhengxiao">整校数 <span class="numFontFamily">{{item.new_school}}</span></span>
              </div>
            </div>
            <div class="auto-height"></div>
          </div>
          <a href="javascript:void(0)" class="view-all-btn" ng-show="newViewData.personal_ranking_team.user_count>10"
             ng-click="showPartOrAll('personal_ranking_team')">
            {{config.status.personal_ranking_team?'收起':'查看全部'}}
          </a>
        </div>
      </div>

      <div class="common-rank"
           ng-if="newViewData.leading_ranking_company && newViewData.leading_ranking_company.leading_count != 0">
        <div class="rank-title">
          <div class="left lead">领队人均业绩排行榜</div>
          <div class="people-num" style="display:none;">{{newViewData.personal_ranking_team.user_count ||
            0}}&nbsp;位组员<img
              src="build/assets/img/indexPage/icon_spread.png"/></div>
          <div class="auto-height"></div>
        </div>
        <div class="rank-list">
          <div class="rank-item" ng-repeat="item in newViewDataSp.leading_ranking_company.leading_list">
            <div class="rank-num">
              <span class="spanNum numFontFamily" ng-if="$index > 2">{{$index+1}}</span>
            </div>
            <img ng-src="{{item.avatar}}" class="head" ng-if="item.avatar"/>
            <img src="build/assets/img/indexPage/admin.jpg" ng-if="!item.avatar" class="head"/>
            <div class="person-info">
              <div class="top">
                <span class="name" ng-bind="item.user_name"></span>
                <span class="num numFontFamily" ng-bind="item.invited_code"></span>
                <span class="count numFontFamily">({{item.count}})</span>
              </div>
              <div class="bottom">
                <span class="register">注册用户 <span class="numFontFamily">{{item.new_register_user}}</span></span>
                <span class="classes">班级数 <span class="numFontFamily">{{item.new_classes}}</span></span>
                <span class="zhengxiao">整校数 <span class="numFontFamily">{{item.new_school}}</span></span>
              </div>
            </div>
            <div class="auto-height"></div>
          </div>
          <a href="javascript:void(0)" class="view-all-btn"
             ng-show="newViewData.leading_ranking_company.leading_list.length>10"
             ng-click="showPartOrAll('leading_ranking_company')">
            {{config.status.leading_ranking_company?'收起':'查看全部'}}
          </a>
        </div>
      </div>


      <div class="common-rank"
           ng-if="newViewData.user_ranking_company && newViewData.user_ranking_company.user_count != 0">
        <div class="rank-title">
          <div class="left company">个人排行榜-公司</div>
          <div class="people-num" style="display:none;" ng-if="false">{{newViewData.personal_ranking_team.user_count ||
            0}}&nbsp;位组员<img
              src="build/assets/img/indexPage/icon_spread.png"/></div>
          <div class="people-num register" ng-if="config.is_admin == '1'">
              <select  ng-model="data.filterSelect" ng-change="selectFilterSelect(data.filterSelect)" style="border: 0;background: white">
                <option value="{{item.value}}" ng-repeat="item in data.selectList">{{item.desc}}</option>
              </select>
            <!--<i class="ion-ios-arrow-down" style="margin-left: -4px"></i>-->
            <!--<img-->
              <!--src="build/assets/img/indexPage/icon_spread.png"/>-->
          </div>
          <div class="auto-height"></div>
        </div>
        <div class="rank-list">
          <div class="rank-item" ng-repeat="item in newViewDataSp.user_ranking_company.user_list">
            <div class="rank-num">
              <span class="spanNum numFontFamily" ng-if="$index > 2">{{$index+1}}</span>
            </div>
            <img ng-src="{{item.avatar}}" class="head" ng-if="item.avatar"/>
            <img src="build/assets/img/indexPage/admin.jpg" ng-if="!item.avatar" class="head"/>
            <div class="person-info">
              <div class="top">
                <span class="name" ng-bind="item.user_name"></span>
                <span class="num numFontFamily" ng-bind="item.invited_code"></span>
              </div>
              <div class="bottom">
                <span class="register">注册用户 <span class="numFontFamily">{{item.new_register_user}}</span></span>
                <span class="classes">班级数 <span class="numFontFamily">{{item.new_classes}}</span></span>
                <span class="zhengxiao">整校数 <span class="numFontFamily">{{item.new_school}}</span></span>
              </div>
            </div>
            <div class="auto-height"></div>
          </div>
          <a href="javascript:void(0)" class="view-all-btn"
             ng-show="newViewData.user_ranking_company.user_list.length>10"
             ng-click="showPartOrAll('user_ranking_company')">
            {{config.status.user_ranking_company?'收起':'查看全部'}}
          </a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
