.setting {
  .done {
    text-decoration: line-through;
  }
  .colStyle {
    color: #0a9dc7;
  }
  /* 栅格grid */
  .col-25 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-25 img {
    height: 64px;
    width: 64px;
  }
  .col-25 ul li img {
    height: 64px;
    width: 64px;
    margin-top: 12px
  }
  .col-25 ul li p {
    text-align: center;
  }
  .userStyle {
    height: 64px;
    width: 64px;
    display: block;
    line-height: 64px;
    border-radius: 50%;
    border: 1px solid lightgray;
    text-align: center;
  }
  .emailStyle {
    font-size: 30px;
  }
  .hongDian {
    width: 24px;
    position: relative;
    top: -75px;
    left: 45px;
  }
}
