
.smsVerification {
  background-color: $global-background;
  .global-container {
    padding: 15px 10px 70px;
    .tips {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #A7A7A7;
      letter-spacing: -0.34px;
    }
    .phone {
      font-family: PingFangSC-Regular;
      font-size: 20px;
      color: #2E2E2E;
      letter-spacing: -0.48px;
      margin-top: 40px;
    }
    .divInput {
      margin-top: 20px;
      .inputStyle {
        background: #FFFFFF;
        box-shadow: 0 1px 0 0 #E3E3E3;
        border-radius: 2px;
        width: 100%;
        height: 44px;
        padding-left: 10px;
        border: 0;
      }
      .buttonCode {
        position: relative;
        float: right;
        top: -38px;
        left: -6px;
        background: #D6E9FF;
        border-radius: 3px;
        height: 33px !important;
        width: 79px;
        border: 0;
        padding: 0;
        font-family: PingFangSC-Regular;
        font-size: 13px;
        color: #0775F5;
        letter-spacing: -0.31px;
        text-align: center;
      }
      .buttonCodeSp {
        position: relative;
        float: right;
        top: -38px;
        left: -6px;
        background: #F5F5F5;
        border-radius: 3px;
        height: 33px !important;
        width: 106px;
        border: 0;
        padding: 0;
        font-family: PingFangSC-Regular;
        font-size: 13px;
        color: #646464;
        letter-spacing: -0.31px;
        text-align: center;
      }
    }
    .login-btn {
      display: block;
      width: 250px;
      height: 48px;
      background-color: #3E7EF6;
      box-shadow: 0 10px 15px 0 rgba(57, 120, 255, 0.29);
      border-radius: 60px;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
      line-height: 48px;
      margin: 0 auto;
      border: 0;
    }
  }
}

